<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs"); %>
    <title>About &middot; Nur Arifin</title>
    <link rel="shortcut icon" type="image/x-icon" href="/files/assets/ico">
    <link rel="stylesheet" href="/files/styles">
</head>

<body>
    <%- include("../partials/navbar.ejs"); %>
    <%- include("../partials/header.ejs", { bh: "About Me", bs: "Don't Waste Your Time!", bg: "/files/assets/img/about-bg.jpg" }); %>
    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <li>
                        <strong>Name?</strong>
                        <ul>Nur Arifin. Usually people call me <u>Arifin</u> or <u>Ipin</u>.</ul>
                    </li>
                    <li>
                        <strong>Address?</strong>
                        <ul>For now I live in <u>Purwokerto, Central Java</u>.</ul>
                    </li>
                    <li>
                        <strong>Age?</strong>
                        <ul>I'm <u>20</u> years old.</ul>
                    </li>
                    <li>
                        <strong>Job?</strong>
                        <ul>Student at <u>Harapan Bangsa University</u>.</ul>
                    </li>
                </div>
            </div>
        </div>
    </main>
    <%- include("../partials/footer.ejs"); %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/files/script"></script>
</body>

</html>