<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs"); %>
    <title>Home &middot; Nur Arifin</title>
    <link rel="shortcut icon" type="image/x-icon" href="/files/assets/ico">
    <link rel="stylesheet" href="/files/styles">
</head>

<body>
    <%- include("../partials/navbar.ejs"); %>
    <%- include("../partials/header.ejs", { bg: "/files/assets/img/home-bg.jpg", bh: "Nur Arifin", bs: "Keep Never Tired Learning" }); %>
    <%- include("../partials/footer.ejs"); %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/files/script"></script>
</body>

</html>